{% extends "base.html" %}
{% load imagekit %}

{% block content %}
    <div class="container px-0 col-11 col-lg-8">
        <h1>{{ bar.name }}</h1>
    </div>
    {% if bar.image %}
        <div class="container px-0 col-12 col-lg-10">
            <div class="row">
                <div class="col-12 mb-3">
                    <div id="carouselExample" class="carousel slide" data-bs-theme="light">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% thumbnail 'x400' bar.image -- alt=bar.name style="height: 400px" class="d-block w-100 object-fit-cover" %}
                            </div>
                            {% for image in bar.images.all %}
                                <div class="carousel-item">
                                    {% thumbnail 'x400' image.image -- alt=bar.name style="height: 400px" class="d-block w-100 object-fit-cover" %}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container px-0 col-11 col-lg-8">
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-arrow-repeat me-2"></i> {{ bar.day_text }}
        </div>
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-clock me-2"></i> ab {{ bar.start_time }}
        </div>
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-pin-map me-2"></i>
            <a target="_blank" class="text-decoration-none"
               href="{{ bar.google_maps_url }}">
                {{ bar.street }}
            </a>
        </div>
        {% if bar.has_tags %}
            <div class="d-flex align-items-baseline">
                <i class="bi bi-tags me-2"></i>
                <div class="d-flex align-items-baseline flex-wrap">
                    {% for tag in bar.tag_list %}
                        <span class="badge me-1 rounded-pill text-bg-{{ tag.1 }} mb-2">{{ tag.0 }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if bar.instagram_id %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-instagram me-2"></i>
                <a target="_blank" href="https://www.instagram.com/{{ bar.instagram_id }}"
                   class="text-decoration-none">
                    Instagram
                </a>
            </div>
        {% endif %}

        {% if bar.website %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-link me-2"></i>
                <a target="_blank" href="{{ bar.website }}" class="text-decoration-none">
                    Website
                </a>
            </div>
        {% endif %}
        {% if bar.menu_url %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-file-text me-2"></i>
                <a target="_blank" href="{{ bar.menu_url }}" class="text-decoration-none">
                    Getränkekarte
                </a>
            </div>
        {% endif %}
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-calendar-event me-2"></i>
            {% if is_android %}
                <a class="text-decoration-none" href="http://{{ request.get_host }}{{ bar.ics_url_path }}"
                   onclick="copyLink(event, this.href)">
                    Event Abo Link kopieren
                </a>
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="toastMessage" class="toast text-center border-0 toast-body" role="alert"
                         aria-live="assertive"
                         aria-atomic="true">
                    </div>
                </div>
                <script>
                    function copyLink(event, href) {
                        event.preventDefault();
                        const toastMessage = document.getElementById('toastMessage');
                        const toast = new bootstrap.Toast(toastMessage, {delay: 5000});
                        navigator.clipboard.writeText(href).then(function () {
                            toastMessage.innerText = "Link kopiert! Mit Kalenderapp abonnieren"
                            toast.show();
                        }).catch(function (error) {
                            toastMessage.innerText = "Failed to copy Link!"
                            toast.show();
                        });
                    }
                </script>
            {% else %}
                <a class="text-decoration-none" href="webcal://{{ request.get_host }}{{ bar.ics_url_path }}">
                    Events Abonnieren
                </a>
            {% endif %}
            <span class="mx-1">/</span>
            <a class="text-decoration-none"
               href="https://calendar.google.com/calendar/r?cid=http://{{ request.get_host }}{{ bar.ics_url_path }}">
                mit Google
            </a>
        </div>

    </div>
    <div class="container px-0 col-12 col-lg-10">
        <div class="col-12 border-bottom my-3"></div>
    </div>
    <style>
        .event-description p:last-child {
            margin-bottom: 0;
        }
    </style>
    <div class="container px-0 col-12 col-lg-8">
        {% for event in events %}
            {% include "./event_big_card.html" %}
        {% endfor %}
    </div>
{% endblock %}
