{% extends "base.html" %}

{% block content %}
    <div class="container px-0 col-11 col-lg-8">
        <h1>{{ bar.name }}</h1>
    </div>
    {% if bar.image %}
        <div class="container px-0 col-12 col-lg-10">
            <div class="row">
                <div class="col-12 mb-3">
                    <div id="carouselExample" class="carousel slide" data-bs-theme="light">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img style="height: 400px" src="{{ bar.image.url }}"
                                     class="d-block w-100 object-fit-cover"
                                     alt="{{ bar.name }}">
                            </div>
                            {% for image in bar.images.all %}
                                <div class="carousel-item">
                                    <img style="height: 400px" src="{{ image.image.url }}"
                                         class="d-block w-100 object-fit-cover"
                                         alt="{{ bar.name }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container px-0 col-11 col-lg-8">
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-arrow-repeat me-2"></i> {{ bar.day_text }}
        </div>
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-clock me-2"></i> ab {{ bar.start_time }}
        </div>
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-pin-map me-2"></i>
            <a target="_blank" class="text-decoration-none"
               href="https://maps.google.com/?q={{ bar.name }}, {{ bar.street }}, {{ bar.zip_code }} {{ bar.city }}">
                {{ bar.street }}
            </a>
        </div>
        {% if bar.has_tags %}
            <div class="d-flex align-items-baseline">
                <i class="bi bi-tags me-2"></i>
                <div class="d-flex align-items-baseline flex-wrap">
                    {% for tag in bar.tag_list %}
                        <span class="badge me-1 rounded-pill text-bg-{{ tag.1 }} mb-2">{{ tag.0 }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if bar.instagram_id %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-instagram me-2"></i>
                <a target="_blank" href="https://www.instagram.com/{{ bar.instagram_id }}"
                   class="text-decoration-none">
                    Instagram
                </a>
            </div>
        {% endif %}

        {% if bar.website %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-link me-2"></i>
                <a target="_blank" href="{{ bar.website }}" class="text-decoration-none">
                    Website
                </a>
            </div>
        {% endif %}
        {% if bar.menu_url %}
            <div class="d-flex align-items-baseline mb-2">
                <i class="bi bi-file-text me-2"></i>
                <a target="_blank" href="{{ bar.menu_url }}" class="text-decoration-none">
                    Getränkekarte
                </a>
            </div>
        {% endif %}
        <div class="d-flex align-items-baseline mb-2">
            <i class="bi bi-calendar-event me-2"></i>
            <!-- @formatter:off -->
            <a class="text-decoration-none" href="webcal://{{ request.get_host }}{{ bar.ics_url_path }}">
               Events Abonnieren
            </a>
            <span class="mx-1">/</span>
            <a class="text-decoration-none" href="https://calendar.google.com/calendar/r?cid=http://{{ request.get_host }}{{ bar.ics_url_path }}">
               mit Google
            </a>
            <!-- @formatter:on -->
        </div>

    </div>
    <div class="container px-0 col-12 col-lg-10">
        <div class="col-12 border-bottom my-3"></div>
    </div>
    <style>
        .event-description p:last-child {
            margin-bottom: 0;
        }
    </style>
    <div class="container px-0 col-12 col-lg-8">
        {% for event in events %}
            <div class="row mb-5 mt-4">
                <div class="col-12 col-sm-6">
                    {% if event.poster %}
                        <img class="w-100" src="{{ event.poster.url }}">
                    {% endif %}
                </div>
                <div class="col-12 col-sm-6 d-flex flex-column justify-content-start">
                    <h6 class="text-secondary mb-0 mt-3 mt-sm-0"> {{ event.start_date }} </h6>
                    <h2> {{ event.name }}</h2>
                    {% if event.description %}
                        <div class="event-description">
                            {{ event.description|linebreaks }}
                        </div>
                    {% endif %}
                    <div class="position-relative mt-auto left-0 bottom-0">
                        <a type="button" class="btn btn-dark" href="{% url 'download_event_ics' event_id=event.id %}">
                            <i class="bi bi-bookmark"></i> Add to calendar
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
