{% load imagekit %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span class="fw-bold">
            <a class="text-reset text-decoration-none" href="{{ event.bar.url_path }}">{{ event.bar.name }}</a>
        </span>
        <span>{{ event.start_date|date:"d.m." }} ab {{ event.start_date|date:"H:i" }}
            <a class="align-middle" href="{% url 'download_event_ics' event_id=event.id %}"
               aria-label="Download Event (ICS File) for {{ event.name }}">
                <i class="bi bi-calendar-plus align-top ms-1"></i>
            </a>
        </span>
    </div>
    {% if event.poster %}
        {% thumbnail '318x450' event.poster -- alt=event.name class="w-100 h-auto" loading="lazy" %}
    {% endif %}
    {% if event.description or not event.poster %}
        <div class="card-body">
            <h3 class="card-title">{{ event.name }}</h3>
            {% if event.description %}
                <p class="card-text">{{ event.description|linebreaks }}</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="card-footer">
        <small class="text-body-secondary d-flex justify-content-between">
            <a target="_blank" class="text-decoration-none"
               href="https://maps.google.com/?q={{ event.bar.name }}, {{ event.bar.street }}, {{ event.bar.zip_code }} {{ event.bar.city }}">
                {{ event.bar.street }}
            </a>
            <span>{{ event.start_date|date:"d.m." }} ab {{ event.start_date|date:"H:i" }}</span>
        </small>
    </div>
</div>